
@{
    ViewBag.Title = Model.Title + " Successfully Collected";
}

@model Assignment9.Models.FilmModel

<div class="container text-center">
    <h1>
        @Model.Title has successfully been submitted!
    </h1>
    <br />
    <br />
</div>
