@{
    ViewData["Title"] = "Joel Hilton";
}

<div class="text-center">
    <h1 class="display-3">The Joel Hilton Film Collection</h1>
</div>
<br /><br />
<div class="container text-center">
    <img class="rounded shadow" src="~/img/JoelHilton.jpg" width="800" />
</div>

<br />

<p class="text-center mx-auto" style="width:800px">
    Joel Hilton . . . is very into movies. So into movies, in fact, that he minored in Film
    Studies at BYU, contracts as a movie reviewer for ClearPlay, and does a weekly podcast about
    movies called Baconsale with a couple friends.
</p>

<br />