@{
    ViewData["Title"] = "Joel Hilton";
}

<div class="text-center">
    <h1 class="display-3">The Joel Hilton Film Collection</h1>
</div>
<br />
<br />
<div class="container text-center">
    <img class="rounded shadow" src="~/img/JoelHilton.jpg" width="800" />
</div>