
@{
    ViewData["Title"] = "Joel Hilton's Podcasts";
}

<div class="text-center">
    <h1 class="display-3">@ViewData["Title"]</h1>
</div>
<br />
<br />
<br />
<div class="container text-center">
    <a class="btn btn-outline-info" target="_blank" style="font-weight:bold;" href="https://baconsale.com/">Baconsale Pop Culter Podcasts</a>
</div>